* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for the entire webpage */
body {
    background-color: #d9dcd6;
}

/* CSS Styles for the header, changed from the .header class */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The Name of the company, Horiseon, at the top of the webpage, changed from the .header h1 class */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changing the color of seo in the Name at the top of the webpage, changed from the .header h1 .seo class */
h1 span {
    color: #d9dcd6;
}

/* The style for the nav bar, changed from the .header div class  */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* The navigation option container, changed from the .header div ul class */
nav ul {
    list-style-type: none;
}

/* The options for navigation, changed from the .header div ul li class */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The main information container, changed from the .content class */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The information about the services the company provides, changed and combined .search-engine-optimization,
.online-reputation-management, and .social-media-marketing classes */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The image in the service part of the page */
article img {
    max-height: 200px;
}

/* The title of the service part of the page */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The side section of the page that contains the benefits of the services provided, changed from the .benefits class*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The benefit section in the side section, changed and combined from .benefit-lead, .benefit-brand, and .benefit-cost  */
section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* The title of the benefit */
section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The image in the benefit */
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The footer of the page, changed from the .footer class */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* The text above the copyright information, changed from the .footer h2 class */
footer h2 {
    font-size: 20px;
}
